      <!-- Side navigation content -->
      <div class="sidenav-header">
        <img src="assets/roadrunner.png" alt="Avatar" class="avatar">
        <div class="sidenav-title">Race the States</div>
      </div>
      <mat-nav-list>
        <mat-list-item routerLink="/home">
          <span class="menu-item">Home</span>
        </mat-list-item>
        <mat-list-item routerLink="/my-races">
          <span class="menu-item">My Races</span>
        </mat-list-item>
        <mat-list-item routerLink="/find-race">
          <span class="menu-item">Find a Race</span>
        </mat-list-item>
        <mat-list-item routerLink="/wishlist">
          <span class="menu-item">Wishlist</span>
        </mat-list-item>
      </mat-nav-list>

